header 
    .header 
        nav 
            ul   
                li 
                    a(href="../src/index.html") Главная
                li 
                    a(href="../src/dialog.html")  Преподаватели
                li 
                    a(href="../src/kurs.html")  Курсы
                li 
                    a(href="../src/o_company.html") О компании