- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body         
        include modules/header
    .banner
    h1 Курсы
    .telo 
        p 
            table
                tr
                    th Название курса
                    th Продолжительнось
                    th Цена
                tr
                    td Разговорный английский для начинающих(уровень А1)
                    td 
                        .a 3 месяца
                    td Персональный треннер 19 400 Р

                tr
                    td Преподаватель английского
                    td 
                        .a 3 месяца
                    td 2196 Р/мес
                tr
                    td Английский для детей
                    td 
                        .b 6 месяцев
                    td от 746 Р/урок
                tr
                    td Английский для IT-специалистов
                    td 
                        .b 6 месяцев
                    td 34 900 за Р/курс
    h1  Обучаем живому разговорному языку        
    .telodva    
        p   Занимайтесь по уникальной методике Flipped Classroom, составленной командой профессиональных методистов
        h3  Занятие делится на две части:
        ol  
            li Выполняете домашнее задание из коротких упражнений на сайте
            li Практикуете разговорную речь на уроке с преподавателем 25 минут
        h3   Что вас приведет к результату
        ul 
            li Бессрочный доступ ко всей информации на сайт
            li 6 курсов от новичка до продвинутого по Методу Тичера
            li Диалоги для тренировки речи и произношения
            li 8 занятий с преподавателем по 25 минут в подарок
            li Личный план занятий для вашего уровня и интересов
            li Оксфордский тест на знание языка с выдачей официального сертификата
    h2 Поможем выбрать подходящего преподавателя 
    .prepod 
        
        .prep
            img(src="/img/1.png", alt="3")
            p Беляева Амира Данилова
            input(type="button", value="Написать преподавателю")
        .prep
            img(src="/img/2.png", alt="3")
            p Новиков Александр Янович
            input(type="button", value="Написать преподавателю")
        .prep
            img(src="/img/3.png", alt="3")
            p Бочарова Анна  Денисова
            input(type="button", value="Написать преподавателю")
        .prep
            img(src="/img/4.png", alt="3")
            p Винокуров Василий Петрович
            input(type="button", value="Написать преподавателю")  
        include modules/footer